
@using PorfolioDataAccess
@inject Context _context;
@{
  Layout = "_Layout";
}
@if (User.Identity.IsAuthenticated)
{
  var user = _context.Users.SingleOrDefault(x => x.Email == User.Identity.Name);
  <div>
    
    <p>@user.Email</p>
  </div>
}