
<!DOCTYPE html>
<html lang="en">

<head>
  @await Html.PartialAsync("MetatagsPartial")
  @await Html.PartialAsync("CssPartial")
</head>

<body>
@await Html.PartialAsync("HeaderPartial")

@RenderBody()

<!-- +++++ Footer Section +++++ -->
@await Html.PartialAsync("FooterPartial")

@await Html.PartialAsync("ScripsPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>